body { background: #992f95; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 40px; display: flex; }
.block-config-0 { color: #136c4e; font-size: 15px; margin-bottom: 5px; }
.block-cluster-1 { color: #afb1c8; font-size: 20px; margin-bottom: 5px; }
.block-filter-2 { color: #dd6b70; font-size: 19px; margin-bottom: 5px; }
.block-cart-3 { color: #f6efa7; font-size: 21px; margin-bottom: 5px; }
.block-payment-4 { color: #77d79; font-size: 19px; margin-bottom: 5px; }
.block-config-5 { color: #f6d7de; font-size: 19px; margin-bottom: 5px; }